.root {
  position: relative;
  input {
    padding: 8px 15px 8px 55px;
    width: 95%;
    font-size: 24px;
    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    &:hover {
      border: 1px solid rgb(0, 0, 0, 0.3);
    }
  }
  .icon {
    position: absolute;
    top: 10px;
    left: 15px;
    opacity: 0.3;
  }
  .clear {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 15px;
    top: 13px;
    opacity: 0.3;

    &:hover {
      opacity: 0.8;
    }
  }
  @media (max-width: 1070px) {
    margin: 10px 0 10px 0;
  }
}
